@import 'nib'

animation-time =  200ms

body
    padding 16px 0

#drop-zone
    
    width 256px
    height 256px
    padding 32px
    margin 0 auto
    border-radius 8px
    box-shadow inset 0 2px 8px alpha(black, 0.15)

    background-color lighten(black, 95%)
    color lighten(black, 30%)
    text-align center
    font-weight bold

    transition all animation-time

    .glyphicon
        display block
        font-size 128px
        margin 16px
    
    &.dragover
        background-color lighten(orange, 80%)

#visuals
    width 100%
    overflow-x scroll
